---
layout: splash
title: Welcome to the Kingdom of Drachenwald
excerpt: Medieval recreation with the Society for Creative Anachronism in Europe
header:
  actions:
    - label: "Learn more..."
      url: "/activities/"
---
<div style="margin-left:auto;margin-right:auto;max-width:800px">

<p>The Kingdom of Drachenwald is a part of the Society for Creative Anachronism, Inc. (SCA), a not-for-profit educational organisation which studies the Middle Ages by recreating the pastimes and crafts of the period. International in scope, our activities include tournaments, festivals, classes, feasts, and all manner of arts and sciences you would find in the culture of pre-1600s western Europe.</p>

</div>

<div style="margin-left:auto;margin-right:auto;max-width:800px">

<h2>Latest News</h2>

<p><a href="{{ site.baseurl }}/posts/news/" class="btn btn--primary">See all the news...</a></p>

{% assign posts = site.posts | where_exp: "item", "item.categories contains 'news'" %}
{% for post in posts limit:3 %}
<h3>{{ post.title }}</h3>

<h6><i>{{ post.date | date_to_string }}</i></h6>
<p>{{ post.excerpt }} <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn--primary">Read more...</a></p>
{% endfor %}

</div>

<div style="margin-left:auto;margin-right:auto;max-width:800px">
<p>
<a href="{{ site.baseurl }}{% link offices/herald/drachenwaldawardsorders.md %}" class="btn btn--primary">Kingdom Awards</a>
<a href="http://op.drachenwald.sca.org/" class="btn btn--primary">Order of Precedence</a>
<a href="http://op.drachenwald.sca.org/recommend" class="btn btn--primary">Make a Recommendation</a>

</p>

<h2>Upcoming Events</h2>

{% if site.data.events.eventlist %}
{% assign events = site.data.events.eventlist | sort:"start" %}
{% else %}
  {% assign events = "" %}
{% endif %}

{% for item in events limit:3 %}

  <!-- Excerpt -->
  <h3>{% unless item.web == "" %}<a href="{{ item.web }}">{% endunless %}{{ item.name }}{% unless item.web == "" %}</a>{% endunless %}</h3>
  {{ item.start | date: "%a, %d %b %Y" }}
  {% unless item.end == "" or item.end == item.start %} to {{ item.end | date: "%a, %d %b %Y" }}{% endunless %}<br>
  {{ item.group }}<br>
  ({{ item.country }})

{% endfor %}
      <p>&nbsp;</p>
      <p><a href="{{ site.baseurl }}{% link events/calendar.html %}" class="btn btn--primary">Events calendar...</a></p>
</div>