---
title: Archery Equipment Judging Criteria
subtitle: (Revised 11/00)
---
<p>This category includes all items that are utilized in the practice of archery. This includes, but is not limited to, bows, crossbows, arrows, quarrels and other projectiles, quivers, finger tabs, arm guards, thumb rings, bow cases, bow strings and targets.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, use within period, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Totally out of period and blatantly modern<br />
• 1-2: Entry is appropriate to time/place stated in documentation.<br />
• 3-4: Generally period with some obvious modern elements or mixture of elements from different cultures or periods. (e.g., modern process producing results equivalent to period process)<br />
• 5-6: Overall period style and execution with minor inconsistencies, period materials or give period effect.<br />
• 7-8: Period methods, design and execution with no inconsistencies; period materials or reasonable equivalents<br />
• 9-10: Special effort to achieve completely period product by use of period design, materials, tools, techniques, etc. (Ex. all hand-done with period techniques); special effort to make entirely authentic and appropriate. Completely period process without modern shortcuts.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Complexity of the medium(s) being worked in (difficulties of materials used).<br />
• Overall composition and layout.<br />
• Intricacy of creating an object in the size/scale utilized in the entry. (Remember that all sizes are difficult because in small scale it is difficult to get details and in large scale, any minor flaw shows noticeably.)<br />
• Number and variety of design elements.<br />
• Difficulty and variety of techniques attempted<br />
• Amount of time involved including research and material preparation.</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following:<br />
• Choice of materials/design combinations.<br />
• Ability of entry to serve intended function.<br />
• Attention to details, neatness and finishing touches<br />
• Appropriate application of design(s)..<br />
• Effective use of materials and designs.<br />
• Mastery of period style and technique.<br />
• Durability of the item.<br />
• Application of period designs or SCA Knowne World designs and personal embellishment</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>
    </div>
    
        
  </div>
   </div>
    <!-- end mainContent -->
    <!-- begin sideBars -->
    <div id="sideBars-bg" style="width: 210px;">
      <div id="sideBars" style="width: 210px;">
        <!-- left sidebar -->
                <div id="leftSidebar">
          <div class="sidebar-left-top"></div>
          <div class="leftbar-content">   <div class="block block-user" id="block-user-1">
    <h3 class="title">
      Navigation    </h3>
    <div class="content">
      <ul class="menu"><li class="leaf first"><a href="/drupal/content/quick-links" title="Quick Links">Quick Links</a></li>
<li class="collapsed"><a href="/drupal/content/kingdom-event-calendar" title="Event Calendar">Kingdom Calendar</a></li>
<li class="leaf"><a href="http://www.drachenwald.sca.org/content/royalty-and-landed-nobility-drachenwald" title="Royalty and Landed Nobility of Drachenwald">Royalty &amp; Landed Nobility</a></li>
<li class="collapsed"><a href="/drupal/contact" title="Primary Kingdom Contact Page">Kingdom Contacts</a></li>
<li class="leaf"><a href="/drupal/content/kingdom-officers-drachenwald" title="Kingdom Officers of Drachenwald">Kingdom Officers</a></li>
<li class="collapsed"><a href="/drupal/content/drachenwald-seneschal" title="Seneschal of Drachenwald">Seneschal</a></li>
<li class="collapsed"><a href="/drupal/content/herald" title="Herald">Herald</a></li>
<li class="collapsed"><a href="/drupal/content/earl-marshal" title="Earl Marshal">Earl Marshal</a></li>
<li class="expanded active-trail"><a href="http://www.drachenwald.sca.org/content/arts-and-sciences" title="Arts and Sciences">Arts and Sciences</a><ul class="menu"><li class="leaf first"><a href="/drupal/node/56" title="Arts and Sciences Frequently Asked Questions (FAQ)">Arts and Sciences Frequently Asked Questions (FAQ)</a></li>
<li class="leaf"><a href="/drupal/node/59" title="How to run an A&amp;S Competition">How to run an A&amp;S Competition</a></li>
<li class="leaf"><a href="/drupal/node/60" title="How to run an A&amp;S Display">How to run an A&amp;S Display</a></li>
<li class="leaf active-trail"><a href="/drupal/node/63" title="Arts &amp; Sciences Judging Criteria">Judging Criteria</a></li>
<li class="collapsed"><a href="/drupal/node/54" title="The Annual Royal Artisan Competition">Kingdom A&amp;S Fair</a></li>
<li class="leaf"><a href="/drupal/node/53" title="Minimum Documentation form">Minimum Documentation form</a></li>
<li class="leaf"><a href="/drupal/content/moas-handbook" title="MoAS handbook">MoAS handbook</a></li>
<li class="leaf"><a href="/drupal/node/58" title="On Dutch Cookery">On Dutch Cookery</a></li>
<li class="leaf"><a href="/drupal/content/sample-quarterly-report" title="Sample Quarterly Report">Sample Quarterly Report</a></li>
<li class="leaf"><a href="/drupal/content/why-we-enter-arts-and-sciences-competitions" title="Why We Enter Arts and Sciences Competitions">Why We Enter Arts and Sciences Competitions</a></li>
<li class="leaf last"><a href="/drupal/content/why-and-how-present-documentation" title="Why and How to Present Documentation">Why and How to Present Documentation</a></li>
</ul></li>
<li class="collapsed"><a href="/drupal/content/exchequer" title="Exchequer">Exchequer</a></li>
<li class="collapsed"><a href="/drupal/content/chronicler" title="Chronicler">Chronicler</a></li>
<li class="collapsed"><a href="/drupal/content/chatelaines-page" title="Chatelaine&#039;s page">Chatelaine</a></li>
<li class="collapsed"><a href="/drupal/content/signet-clerk" title="Signet Clerk">Signet Clerk</a></li>
<li class="collapsed"><a href="/drupal/content/kingdom-guilds-interest-groups" title="Kingdom Guilds &amp; Interest groups">Kingdom Guilds</a></li>
<li class="leaf last"><a href="/drupal/content/navy" title="This is the Drachenwald Navy">Navy</a></li>
</ul>    </div>
  </div>

 </div>
          <div class="sidebar-left-bottom"></div>
        </div>                 <!-- right sidebar -->       
               </div>
      <!-- end sideBars -->
    </div>
    <!-- end sideBars-bg -->
  </div>
</div>
<!-- end container -->
<!-- footer -->
<div id="footer">
  <div class="footer-content">
    <div class="footer-message"> <p>This is the recognized web site for the Kingdom of Drachenwald of the Society for Creative Anachronism, Inc. and is maintained by <a href="mailto:webmaster@drachenwald.sca.org">Aodh Ó Siadhail</a></p>

Copyright © 2018 Kingdom of Drachenwald. The original contributors retain the copyright of certain portions of this site. Full disclaimer <a href="http://www.drachenwald.sca.org/drupal/content/web-minister">here</a><br />
       <!-- Powered by Drupal, Design &amp; Developed originally by <a href="http://www.cmswebsiteservices.com"> CMS Website Services</a>, LLCand then tweaked and adapted by Daniel Forsman. -->
       </div>
        <div class="footer-link">   <div class="block block-block" id="block-block-1">
    <h3 class="title">
          </h3>
    <div class="content">
      <p><a href="http://www.drachenwald.sca.org">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/sitemap">Sitemap</a><span class="-a "> </span>&nbsp; &nbsp; <a href="/user/login">Officer login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">Contact Us</a></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
  </div>

  <div class="block block-search" id="block-search-0">
    <h3 class="title">
          </h3>
    <div class="content">
      <form action="/drupal/node/64"  accept-charset="UTF-8" method="post" id="search-block-form">
<div><div class="container-inline">
  <div class="form-item" id="edit-search-block-form-1-wrapper">
 <label for="edit-search-block-form-1">Search this site: </label>
 <input type="text" maxlength="128" name="search_block_form" id="edit-search-block-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
</div>
<input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
<input type="hidden" name="form_build_id" id="form-YfPW641fUg5Li0S8QIoEBoAGafW6-IfGTnCzry8FgbQ" value="form-YfPW641fUg5Li0S8QIoEBoAGafW6-IfGTnCzry8FgbQ"  />
<input type="hidden" name="form_id" id="edit-search-block-form" value="search_block_form"  />
</div>

</div></form>
    </div>
  </div>

 </div>
      </div>
</div>
<!-- end footer -->
<script type="text/javascript" src="/drupal/sites/all/modules/google_analytics/googleanalytics.js?2"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
try{var pageTracker = _gat._getTracker("UA-11879750-1");pageTracker._trackPageview();} catch(err) {}
//--><!]]>
</script>
</body>
</html>