---
title: Calligraphy Judging Criteria
---
<p>Includes period writing on a page or pages. Illumination (if any) will not be judged, but layout of any illumination in relation to the text will be judged. Subject matter should be period or logical to period style. (Ex. an original poem, a letter). For purposes of competition, SCA awards or official documents will be considered period texts.</p>
<p>DOCUMENTATION(3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one page should be more than enough, not including visuals and bibliography. 2 pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Identification / description / use of the entry. Date and place/country of origin entry is modeled on, and style of calligraphy. Reference<br />
• Materials used in the project (type of inks and paper)<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process (type of pens, type of ink)<br />
• Research (country, period of origin, typical characteristics, etc.) Description of style or school characteristics(i.e. Kells vs. Durrow) or discussion of logic applied to design of entry.<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Blatantly modern (Ex. in alphabet design or materials, such as lined paper)<br />
• 1: Out of period piece, but some knowledge of what would have been correct. (Felt tip pens, day glow ink colors and tablets with printed lines should be avoided.)<br />
• 2: Use of period looking or actual period alphabet with style of capitals suited to style of minuscule (if applicable). Modern letters and variations for "j", "k", "w" are acceptable if in keeping with the period style<br />
• 3: Use of calligraphy pen and period-looking ink to calligraphy letters on period looking paper or parchment paper. Steel nib pens or fountain pens are all right. No use of felt tip pens.<br />
• 4: Generally period, with some obviously modern elements (Ex. period alphabet done in callig- pen); or obvious mixture of elements for different cultures or periods (ex. Gothic capitals with a Celtic alphabet)<br />
• 5: Period elements combined in obviously inauthentic fashion within individual piece or combined 2 time periods.<br />
• 6: Alphabet, period; materials period or reasonable equivalents; overall period style and execution, with minor inconsistencies (ex. layout)<br />
• 7: Attempt at period looking layout with arrangement of page suitable for stated style and alphabet. Drawn period capitals, such as Lombardic to Celtic, if included should not dominate the page.<br />
• 8: Same as #7, with no inconsistencies; layout, alphabet style and subject matter are appropriate to each other and to the period. Text appropriate to period or current Middle Ages. Award scrolls and original verse or texts in period style in modern English are considered period for SCA purposes.<br />
• 9-10: Above, plus special effort to achieve completely period product by use of period design, materials, tools, techniques, etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Use of effective layout, margins and spacing and nibs for style of lettering and text content.<br />
• Lines straight, letters well spaced, forms consistent<br />
• Relative density of errors compared to whole; application of effective period correction methods; neatness of finished work<br />
• Quantity of text, amount of space occupied by script, scale<br />
• Difficulty of lettering styles, version of hand, and color changes, use of pen flourishes and ligatures<br />
• Dificulty of materials used (ink, pens, paper, etc.)<br />
• Difficulty of embellishment tried (rubrification, etc.)<br />
• Difficulty of composition tried (layout, proportion, balance, etc.)<br />
• Variety of alphabets, sizes, etc.<br />
• Scope of undertaking (size of work relative to amount of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Use of effective layout, margins, spacing and nibs for style of lettering and text content.<br />
• Lines straight, letters well spaced, forms consistent<br />
• Relative density of errors compared to whole; application of effective period correction methods; neatness of finished work.<br />
• Execution of letterforms<br />
• Control of medium (neatness, ink density, etc.)<br />
• Letter and work spacing<br />
• Line spacing and evenness<br />
• General proportioning(layout, proportion, balance, margins, etc.)<br />
• Successful integration of personal embellishments and symbolism</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>