---
title: Early Period Clothing (600-1350AD) Judging Criteria
---
<p>There are three categories: Early, Middle, and Late Period. Each may be further defined by country. Example: The Italian Renaissance was earlier in terms of years than the English Renaissance, and the Russian followed even later. EARLY PERIOD is defined as utilizing a geometric pattern layout: T-Tunics. Clothing is to be a complete piece. It is strongly suggested that judges view the clothing both on and off a person, to examine it fully. The judges may change the Period in which the entry is enrolled if they believe it is mis-entered. However these categories are not to be cross-judged.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic Design<br />
• Clothier's intent with outfit, (i.e. something a person might have worn in such-and-such a situation, or for doing blank task</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0-1: Totally inappropriate to time period of category<br />
• 2-3: Period elements combined in inauthentic fashion. Inappropriate mixture of times and cultures.<br />
• 4-5: Good surface appearance, unauthentic elements in design, fabric, color. (ex: inappropriate fake underlayers)<br />
• 6-8: Authentic in appearance and feel; period colors, fabric either period or very close.<br />
• 9-10: Authentic in appearance, feel, with special efforts to achieve total effect. (Special accessories attached to the piece to enhance total look, hand-done embellishments.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, based on the following:<br />
• Difficulty and variety of materials and trim<br />
• Difficulty and variety of design elements and techniques attempted<br />
• Difficulty and variety of media, materials, and tools used<br />
• Difficulty and variety of embellishments (handwork, etc)<br />
• Lining requirements as appropriate<br />
• Scope of endeavor ( # of pieces, size of work in relation to amount of detail, etc.)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Handwork on hem and trims<br />
• Special touches in augmentation and trim. Handwork other than hems and trim<br />
• Straightness and match of seams, evenness of stitches, technical: finishing, construction, neatness etc.<br />
• Finished edges, cut and fit,<br />
• Special touches on augmentation and trim; Neat in appearance.<br />
• Design: aesthetics, proportion, patterns, colors, etc. Does it work together?<br />
• Functionality: do pieces do what they're supposed to do? Will they hold up?<br />
• Choice and handling of materials<br />
• Extras such as special embellishments or personalization</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>