---
title: Musical Instrument Judging Criteria
---

Includes all musical instruments made from any material. Judges may wish to consult the appropriate material criteria for standards on techniques.</p>
<p> DOCUMENTATION (3-30 points.  SCORED 1-10 then MULTIPLY BY 3)  Must have at least a 3x5 card (or A6 paper).  The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any).  It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project.  Give score based on the following:</p>
<p>    * A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
    * Materials used in the project<br />
    * Skills (necessary to complete the project)<br />
    * Methods and Tools used during the process<br />
    * Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
    * Artistic design </p>
<p>AUTHENTICITY (0-20 points)  [SCORE 0-10 then DOUBLE THE SCORE]  Keep in mind any deviations or substitutions from authentic period equivalents (reasonable substitutions for elements that are too toxic, too expensive or too rare) must be plausible and explained. Efforts to achieve a completely authentic item (except those items that are unsafe) will score best. Form/function—is it a period item and does it work in a period way (apparent knowledge or application of period practice)</p>
<p>    * Methods of creation—appropriate to period or are consistent and give a period effect<br />
    * Materials used—are period or reasonable substitutions that give a period effect<br />
    * Design, style--period design or gives a period effect</p>
<p>COMPLEXITY (1-10 points)  Rank the ambition of the entry, not the workmanship, based on the following.</p>
<p>    * Scope of endeavor (# of pieces, size of work in relation to amount of detail, etc.)<br />
    * Difficulty/variety design elements: bores, keys, or other pieces to coordinate. Examples (easy to hard): whistle, panpipes, jointed/keyed instruments, a consort of instruments pitched to each other; multiple-drone bagpipes.<br />
    * Difficulty/variety of techniques attempted: jointing, keying, curving, bending, bore construction (removing pith from plant; drilling, reaming; gouging/gluing halves)<br />
    * Extent of original work or ideas</p>
<p>WORKMANSHIP (3-30 points)  [SCORE 1-10 then MULTIPLY BY THREE]  Rank the quality of execution and success of the entry.</p>
<p>    * Effective use of tools, methods and execution<br />
    * Techniques, handling of materials, etc. Construction: moving parts move right, joints and pieces fit, etc. Finishing: bore is smooth; finish will protect against breath moisture (if relevant) and finger oils<br />
    * Design: period aesthetics, motifs, design, balance, etc.<br />
    * Form/function: tone quality consistent and on-key; playable<br />
    * Period styling or personalization or special embellishment</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed. This is the 'wow' factor; following are some examples to consider, but the category is not limited to these.</p>
<p>    * Completely authentic from the ground up.  OR<br />
    * Unique or outstanding display or attempt at period presentation.  OR<br />
    * Logical creative endeavor within a period methodology (creativity/individuality).  OR<br />
    * You want to take it home because it is really outstanding</p>