---
title: Knitting, Crochet and Macrame Judging Criteria
---

Category includes period forms. Knitting in period would include hats, shirts, stockings, gloves, and knitted carpets used as wall hangings. Extant pieces include 2-color gloves, fagoted silk stockings, a silk tunic with diamond designs. Crochet was apparently used solely for some types of 16th century church lace. Macramé was usually used to finish off the warp on woven fabrics in decorative knotted fringes. Period work nearly always used fine threads, frequently silk.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references of patterns or pieces (books, portraits, etc.) from reliable sources<br />
• Artistic design with rationale for relationship of style to intended purpose of item</p>
<p>AUTHENTICITY (0-20 points)[SCORE 0-10, then DOUBLE THE SCORE] Consider item, materials, stitches, design, tools.<br />
• 0: Non-period item such as modern clothing, plant hanger, granny squares; OR style is out of period; OR other blatant modernity.<br />
• 1-2: Style is period, but with obvious out-of-period elements: e.g. obviously modern design or materials; materials incorrect for the design or intended use.<br />
• 3-4: Project is basically period but with obvious mixture of elements from different periods.<br />
• 5-6: Basically period-looking, with minor inconsistencies, e.g. a hat which is knitted but not felted.<br />
• 7-8: Period piece; no inconsistencies.<br />
• 9-10: Special effort to achieve completely period effect by utilizing one or more of the following: period design, period materials (spun own-wool or silk thread), tools (made own knitting needles or hook), techniques (dyed thread medievally), etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Difficulty of stitches and techniques<br />
• Difficulty of pattern(a)<br />
• Variety of elements/patterns/stitches/techniques<br />
• Difficulty of materials used<br />
• Scope of effort (size of piece in relation to fineness of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Evenness (especially in geometric designs, repeating patterns)<br />
• Neatness<br />
• Starts and ends<br />
• Tension<br />
• Uniformity (in density, stitch length, etc.)<br />
• Finishing of piece<br />
• Personalization or special embellishment</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>