---
title: Lacemaking Judging Criteria
---

Category includes network or laces, needle laces such as reticella, punto in aria, rose point, gros point, bobbin lace, sprang, macrame, and woven laces. It does not include cut-and-drawn (see Counted Thread Embroidery) or tatting (not used in period; period tatting was just rings, no chains or picots). Also out of period: pointe d'angleterre, valenciennes, and lace crochet. Examples of items: ruffs, collars, cuffs, boot tops, decollates, table and bed covers, borders, samplers, hats, etc.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. Best sources are reprints of period lace pattern books, or existing pieces. Victorian lace history books are very unreliable. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.)<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10, then DOUBLE THE SCORE] Consider item, thread, stitches, design, tools.<br />
• 0:Non-period item such as modern or Victorian clothing;<br />
• 1: Type of lace out of period; OR other blatant modernity (in design, color, etc.).<br />
• 2-3:Type of lace is period, but with obvious out-of-period elements (e.g. obviously modern design or materials, materials wrong for the design or intended use, etc.);<br />
• 4-5:Type of lace is period, but with obvious mixture of elements from different periods.<br />
• 6-7:Basically period-looking, with few inconsistencies, or use of modern tools.<br />
• 8-9:Period piece; no or minor inconsistencies, use of period tools.<br />
• 10:Special effort taken for complete authenticity (i.e. spun own silk or linen thread; carved own bobbins, made own tools, etc.)</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Difficulty of stitches and techniques<br />
• Difficulty of pattern(s)<br />
• Variety of elements/patterns/stitches/techniques<br />
• Difficulty of materials and tools used<br />
• Scope of effort (size of piece in relation to fineness of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Evenness (especially in geometric designs, repeating patterns)<br />
• Neatness<br />
• Starts and ends<br />
• Tension<br />
• Uniformity (in density, stitch length, etc.)<br />
• Finishing of piece</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>