---
title: Poetry Judging Criteria
---

Entries should be typed. Limit 100 lines; entrant may submit a longer work and specify a section of up to 100 lines to be judged.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design in terms of particular devices or techniques in terms of the conventions of the times, the limits of the form, justification for unusual themes or devices; explanations of possible obscurities, explanation of the relationship of subject, theme, conventions, literary devices, as appropriate to choice of form and to social context of specified place and time, using period examples.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Extremely out of period form (Ex., free verse) or out of period variation on period form (Ex., rhymes that are clearly modern in concept)<br />
• 1-2: Period form containing glaring anachronisms<br />
• 3: Period form with obviously non-period elements in style, themes, subject; OR period subject and themes, but non-period form; OR obvious mixture of elements from incompatible periods or cultures (e.g. courtly love in Norse verse).<br />
• 4: Period form but subject inappropriate to or inconsistent to form OR one or two slight inconsistencies or subtle anachronisms in theme or subject<br />
• 5-6: Few if any slight inconsistencies in form, theme, subject, method; overall, the work has the flavor and character of its period<br />
• 7-8: No anachronisms or inconsistencies in form, theme, subject. Some attempt at proper use of period diction and phrasing.<br />
• 9-10: Proper use of period language and vocabulary (or reasonable equivalent if style would have required a foreign language); special effort to use themes, literary devices, language, sentiments, subjects, conventions, etc. as appropriate to form and consistent with each other; appropriateness to a specified time-place context or occasion</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Precise literary use of puns or double entendres (dreadful puns excluded)<br />
• Good job of mood setting, use of period conventions, precise literary use of puns, symbols, allegory, extended metaphor<br />
• Number and variety of period conventions, symbolism, allegory, extended metaphor, allusion, etc.<br />
• Use of period vocabulary and period grammar; i.e., use of kennings in alliterative verse or conceits in sonnets<br />
• Form (examples: narrative couplets -very easy, ballads -easy, triolets and rondels --average, sonnets and villanelles -above average, alliterative and complex acrostics -hard, complex fixed forms--very hard, depending on the way the form is used.)<br />
• Subject and theme, including levels of meaning attempted<br />
• Appropriateness of form to subject matter and scale (length) of work.</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following:<br />
• Application of form (including technical details of rhyme, meter, alliteration, etc. as applicable)<br />
• Use of language and vocabulary, including grammar and literary devices<br />
• Clarity and logic<br />
• Use of conventions as appropriate<br />
• Special appropriateness to time, place, person, occasion, or situation</p>
<p>AESTHETIC VALUE (1-10 points) Rate the aesthetic effect and appeal beyond mere technical proficiency. Consider how you react to the entry &amp; how the entrant seems to have related to the materials, processes &amp; finished project. Consider:<br />
• Difficult to read, reasoning cloudy?<br />
• More than one level of meaning?<br />
• Boring, interesting, or entertaining?<br />
• Presentation and your intuitive response?</p>